# Python Programming

### Python Hello World

In [1]:
print("Hello World")

Hello World

### Python Syntax

In [3]:
score = 80
if score >=60 :
    print("Pass")

Pass

### Python Variables

In [13]:
x = 2
price = 2.5
word = 'Hello'
print(word)
word = 'Hello'
print(word)
word = "Hello"
print(word)
word = '''Hello'''
x = 2
y = x + 1
print("word:", word)
print("x:", x)
print("y:", y)

Hello
Hello
Hello
word: Hello
x: 2
y: 3

### Python_version()

In [7]:
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.13.5

### Python Data Types

In [11]:
x = "Hello World" #str
print(x)
x = 2             #int
print(x)
x = 2.5           #float
print(x)
x = 7j            #complex
print(x)

Hello World
2
2.5
7j

In [15]:
x = ["apple", "banana", "cherry"] #list
print(x)
x = ("apple", "banana", "cherry") #tuple
print(x)
x = range(6) #range
print(x)
x = {"name" : "Tom", "age" : 20} #dict
print(x)
x = {"apple", "banana", "cherry"} #set
print(x)
x = frozenset({"apple", "banana", "cherry"})
print(x)
#frozenset

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'Tom', 'age': 20}
{'apple', 'banana', 'cherry'}
frozenset({'apple', 'cherry', 'banana'})

In [16]:
x = True #bool
print(x)
x = b"Hello" #bytes
print(x)
x = bytearray(5) #bytearray
print(x)
x = memoryview(bytes(5)) #memoryview
print(x)
x = None #NoneType
print(x)

True
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x0000022825C21900>
None

### Python Casting

In [17]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [18]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

### Python Basic Operators

In [19]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

### Python Booleans: True or False

In [20]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

### Python BMI Calculator

In [21]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

## Future value of a specified principal amount, rate of interest, and a number of years

### How much is your $100 worth after 7 years?

In [23]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

### Future Value

In [24]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [25]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

## Python Data Structures

### Python Data Types

In [26]:
x = ["apple", "banana", "cherry"] #list
print(x)
x = ("apple", "banana", "cherry") #tuple
print(x)
x = {"name" : "Tom", "age" : 20} #dict
print(x)
x = {"apple", "banana", "cherry"} #set
print(x)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
{'name': 'Tom', 'age': 20}
{'apple', 'cherry', 'banana'}

### Lists []

In [27]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

### Tuples ()

In [28]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

### Sets {}

In [30]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

### Dictionary {key : value}

In [31]:
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

### Python Data Structures

In [34]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

### Python for Finance Applications

In [35]:
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [37]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [38]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [39]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Python Control Logic and Loops

### Python if

In [40]:
score = 80
if score >=60 :
    print("Pass")

Pass

### Python if else

In [41]:
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

### Python if elif else

In [42]:
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [43]:
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

### Python for Loops

In [44]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [46]:
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

### Python while loops

In [47]:
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

## Python Functions

### Python Function def

In [48]:
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## Python Classes/Objects

### class MyClass:

In [50]:
class MyClass:
    x = 5
c1 = MyClass()
print(c1.x)

5

In [52]:
class Person:
    def __init__(self, name, age):
     self.name = name
     self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [53]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myfunc(self):
        print("Hello my name is " + self.name)
        
p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [54]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myfunc(self):
        print("Hello my name is " + self.name)
        
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

### Python Classes and Obects

In [57]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." %(self.name, self.color, self.kind, self.value)
        return desc_str

In [58]:
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

## Python Modules

### Python Modules

In [66]:
# mymodule.py
def greeting(name):
    print("Hello, " + name)

In [ ]:
import mymodule
mymodule.greeting("Alan")

### Python File Input / Output

In [69]:
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nThis is Python File Input Output')
with open('myfile.txt', 'r') as file:
    text = file.read()
    print(text)

Hello World
This is Python File Input Output

In [70]:
filename = 'mymodule.py'
with open(filename, 'w') as file:
    text = '''def greeting(name):
    print("Hello, " + name)
    '''
    file.write(text)
with open(filename, 'r') as file:
    text = file.read()

print(filename)
print(text)

mymodule.py
def greeting(name):
    print("Hello, " + name)

### Python main() function

In [71]:
def main():
    print("Hello World!")
if __name__ == "__main__":
    main()

Hello World!

## Files and Exception Handling

### Python Files (File Handling)

In [72]:
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()
f = open("myfile.txt", "r")
text = f.read()
print(text)
f.close()

Hello World

In [73]:
with open('myfile.txt', 'w') as file:
    file.write('Hello World')
with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World

### Python Files

In [74]:
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nPython File IO')
with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO

In [75]:
with open('myfile.txt', 'a+') as file:
    file.write('\n' + 'New line')
with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World
Python File IO
New line

In [78]:
import os

cwd = os.getcwd()
print(cwd)

D:\ai_practice_prj\lesson2

In [79]:
os.listdir(cwd)

['.ipynb_checkpoints',
 '01_python_basic_code.ipynb',
 '02_python_advance_code.ipynb',
 '03_exercise_01.ipynb',
 '04_exercise_02.ipynb',
 'myfile.txt',
 'mymodule.py',
 'PTDL-02-Python Programming.ipynb']

In [ ]:
path = os.path.join(cwd, 'lesson2')
print(path)
os.listdir(path)

### From google.colab import files

In [ ]:
from google.colab import files
with open('io_file_myday.txt', 'w') as f:
    f.write('Google Colab File Write Text some content Myday')
import time
time.sleep(1) # time sleep 1 second
files.download('io_file_myday.txt')
print('downloaded')

In [ ]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():

print('User uploaded file "{name}"

with length {length} bytes'.format(
name=fn, length=len(uploaded[fn])))

### os.remove()

In [87]:
import os
if os.path.exists("myfile.txt"):
    os.remove("myfile.txt")
    print("myfile.txt removed")
else:
    print("The file does not exist")

myfile.txt removed

In [88]:
import os
os.listdir()
os.mkdir("myfolder1")
os.listdir()
os.rmdir("myfolder1")
os.listdir()

['.ipynb_checkpoints',
 '01_python_basic_code.ipynb',
 '02_python_advance_code.ipynb',
 '03_exercise_01.ipynb',
 '04_exercise_02.ipynb',
 'mymodule.py',
 'PTDL-02-Python Programming.ipynb']

### Python Try Except (Exception Handling)

In [89]:
try:
    print(x)
except:
    print("Exception Error")

(10, 20, 30, 40, 50)

### Python try: except: finally:

In [90]:
try:
    print("Hello")
except:
    print("Exception Error")
finally:
    print("Finally process")

Hello
Finally process

### Python try: except: else:

In [91]:
try:
    print("Hello")
except:
    print("Exception Error")
else:
    print("No exception")

Hello
No exception

### Python try: except: else: finally:

In [92]:
try:
    print("Hello")
except:
    print("Exception Error")
else:
    print("No exception")
finally:
    print("Finally process")

Hello
No exception
Finally process

In [93]:
try:
    price = float(input("Enter the price of the stock (e.g. 10):"))
    shares = int(input("Enter the number of shares (e.g. 2):"))
    total = price * shares
except Exception as e:
    print("Exception error:", str(e))
else:
    print("The total value of the shares is:", total)
finally:
    print("Thank you.")

Enter the price of the stock (e.g. 10): 10
Enter the number of shares (e.g. 2): 2

The total value of the shares is: 20.0
Thank you.

In [94]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")

Exception file Error

In [95]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

Exception file Error
Finally process

In [97]:
try:
    file = open("myfile.txt", 'w')
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

file saved
Finally process

# THANKS FOR YOUR ATTENTION!